@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-accent-normal: oklch(73.25% 0.169 10.51);
  --color-accent-light: oklch(77.52% 0.136179 9.3358);
  --font-roboto: "Roboto", sans-serif;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  /* biome-ignore lint/complexity/noImportantStyles: <It's necessary> */
  font-family: "Roboto", sans-serif !important;
}
